/.vs
/Debug
/ChessKnightProblem/Debug
/ChessKnightProblem/Release
/ChessKnightProblem.VC.db
/Release/ChessKnightProblem.iobj
/Release/ChessKnightProblem.ipdb
/Release/ChessKnightProblem.pdb
/ChessKnightProblem.v12.suo
/ChessKnightProblem.sdf

